@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.spinner {
  /* HTML: <div class="loader"></div> */
.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: white;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
}

.lable-style {
  color: #e0e0e0; /* Light gray text */
  background-color: #000000; /* Black background */
  /* border: 2px solid #d4af37; Golden-yellow border */
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 10px;
}

.form-style {
  color: #ffffff; /* White text color */
  background-color: #1a1a1a; /* Dark gray background */
  border: 2px solid #d4af37; /* Golden-yellow border */
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.form-style:focus {
  border-color: #f4c430; /* Bright golden border on focus */
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.7); /* Subtle glow effect */
}

.form-style::placeholder {
  color: #cccccc; /* Light gray placeholder text */
  opacity: 0.7;
}

.form-style:disabled {
  background-color: #333333; /* Darker background when disabled */
  cursor: not-allowed;
}
